@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,300&display=swap");

:root {
  --blue: #1e81b0;
  --white: #fff;
}

* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* navigation CSS starts from here */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

.logo img {
  margin-top: 15px;
  height: 40px;
  width: 150px;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
}
li {
  padding-right: 50px;
  cursor: pointer;
  font-weight: 500;
}
li:hover {
  border-bottom: 2px solid var(--blue);
}
.login {
  all: unset;
  width: 70px;
  padding: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.login:hover {
  background-color: var(--white);
  color: var(--blue);
  border: solid 2px var(--blue);
}
/* navigation CSS ends from here */

/* Hero section CSS starts from here */
.hero {
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
  flex-wrap: wrap;
}
.hero-content h1 {
  margin-top: 15px;
  font-weight: 800;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 80px;
}
.hero-content p {
  margin: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.hero-button .btn-one {
  all: unset;
  width: 80px;
  padding: 7px;
  margin: 10px;
  height: 30px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.hero-button .btn-one:hover {
  background-color: var(--white);
  color: var(--blue);
  border: solid 2px var(--blue);
}
.hero-button .btn-two {
  all: unset;
  width: 80px;
  padding: 7px;
  margin: 10px;
  height: 30px;
  background-color: var(--white);
  color: var(--blue);
  cursor: pointer;
  border: solid 2px var(--blue);
}
.hero-button .btn-two:hover {
  background-color: var(--blue);
  color: var(--white);
}
.links p {
  margin-top: 10px;
  font-weight: 200;
  color: grey;
}
.links img {
  margin-top: 15px;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
.hero-image {
  transform: rotate(10deg);
}
.hero-image img {
  width: 100%;
  margin-left: 80px;
}
/* Hero section CSS ends from here */
